APP_URL=https://example.com/transfert_paypal_momo
APP_DEBUG=0
PAYPAL_CLIENT_ID=your_paypal_client_id_here
PAYPAL_CLIENT_SECRET=your_paypal_client_secret_here
PAYPAL_MODE=sandbox
MTN_SUBSCRIPTION_KEY=your_mtn_subscription_key_here
MTN_API_USER_ID=your_mtn_api_user_id_here
MTN_API_KEY=your_mtn_api_key_here
MTN_ENV=sandbox
MTN_FLOW=collection